{
  "name": "{{.Name}}",
  "version": "1.0.0",
  "scripts": {
    "start": "npx tsx template.ts",
    "aone:build:dev": "npx tsx build.dev.ts",
    "aone:build:prod": "npx tsx build.prod.ts"
  },
  "devDependencies": {
    "tsx": "^4.0.0"
  }
}
